
nav li
h1 { color: indigo; font-size: 250%; font-weight: bold }

h2 { font-size: 150%;
	font-style: italix;
	color: darkblue; }

body {
	background: lightblue;
	color: darkblue;
	font-size: 18pt;
	font-family: 'Indie Flower', cursive;
	}

nav li { 
	border: 2px solid black; 
	display: inline-block;
	padding: 10px;
	margin: 10px;
	background: lightpink;
	width: 1200px;
	}
	
a { color: hotpink;
	text-decoration: none;}
a:hover { color: red; }

.picture { float: center }
